<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MappedDrivesConfig" type="DriveMapper.MappedDrivesConfigSection, DriveMapper" />
  </configSections>
  <MappedDrivesConfig>
    <add DriveLetter="Z" Label="My Share" Share="\\192.168.0.1\Share" Username="DOMAIN\username" Password="password" Persistent="true" />
  </MappedDrivesConfig>
</configuration>